<html>
<!-- https://mdbootstrap.com/docs/b4/jquery/modals/additional/   -->
    <head>
        <meta charset="UTF-8">
        <html lang="fr">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />  
        <title>Marvel</title>  
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="asset/logo/logo1.png"/>
            <link rel="stylesheet" href="./model/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="./model/bootstrap/css/mdb.min.css">
            <link rel="stylesheet" href="./model/css/style.css">
            <link rel="stylesheet" href='./model/bootstrap/css/addons/datatables.min.css'>
            <link  rel="stylesheet" href='./model/bootstrap/css/addons/datatables-select.min.css'>
           
           
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
        {% endblock %}


        {% block javascripts %}
        <script type="text/javascript" src= "./model/bootstrap/js/jquery.min.js"></script>
        <script type="text/javascript" src="./model/bootstrap/js/popper.min.js"></script>
        <script type="text/javascript" src="./model/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="./model/bootstrap/js/addons/datatables.min.js"></script>
       <script type="text/javascript" src="./model/bootstrap/js/addons/datatables-select.min.js"></script>
        <script type="text/javascript" src="./model/js/accueil.js"></script>



        {% endblock %}

    <body>
<html>