<footer class="page-footer font-small" style="padding-left: 0px;">
      <div class="container" style="margin:0 auto; font-size:12px">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
          <div class="col-md-1 mb-3"> 
              <a href="#!">Mobile app</a>     
          </div>
          <div class="col-md-3 mb-3">
              <a href="#!">Politique de confidentialité</a>
          </div>

          <div class="col-md-1 mb-3"> 
              <a href="#!">Cookies</a>
          </div>
          <div class="col-md-3 mb-3">
              <a href="#!">
              <img src="asset/logo/Logo1.png" alt="" class="navbar-brand"   >
              <img src="asset/logo/Logo2.png" alt="" class="navbar-brand" style="margin-top:10px" >
              <img src="asset/logo/Logo3.png" alt="" class="navbar-brand" style="margin-left:-10px">
              </a>
          </div>
          <div class="col-md-1 mb-3"> 
              <a href="#!">Contact</a>
          </div>
          <div class="col-md-1 mb-3"> 
              <a href="#!">Blog</a>
          </div>
          <div class="col-md-2 mb-3"> 
             <div class="selection">
                <select class="form-control btn-rounded" style="background-color:#b11313!important; color:#FFFFFF" aria-describedby="basic-addon3">
                    <option selected>Langue</option>
                    <option>Anglais</option>
                    <option>Français</option>
                    <option>Allemand</option>
                    <option>Russe</option>
                </select>    
            </div>
          </div>
          

        </div>
      

        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

 
        <div class="row pb-3">

  
          <div class="col-md-12">

            <div class="mb-5 flex-center">

        
              <a class="fb-ic">
                <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
              </a>
       
              <a class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
              </a>

              <a class="gplus-ic">
                <i class="fab fa-google-plus-g fa-lg white-text mr-4"> </i>
              </a>
          
              <a class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
              </a>
              
              <a class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
              </a>
         
              <a class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text"> </i>
              </a>

            </div>

          </div>
    

        </div>

      </div>
      <figure >
          <audio controls="true" autoplay="true" src="asset/audio1.mp3">
                  Your browser does not support the
                  <code>audio</code> element.
          </audio>
      </figure>
      <div class="footer-copyright text-center py-3">
        © SaynaxMarvel inc. 2022 We love our users!
      </div>
    

    </footer>

