<footer class="page-footer font-small" style="padding-left: 0px;">
      <div class="container" style="margin:0 auto; font-size:12px">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
          <div class="col-md-1 mb-3"> 
              <a href="#!">Mobile app</a>     
          </div>
          <div class="col-md-3 mb-3">
              <a href="#!">Politique de confidentialité</a>
          </div>

          <div class="col-md-1 mb-3"> 
              <a href="#!">Cookies</a>
          </div>
          <div class="col-md-3 mb-3" style="margin-top:-13px">
              <a href="#!">
              <img src="asset/logo/Logo1.png" alt="" class="navbar-brand"   >
              <img src="asset/logo/Logo2.png" alt="" class="navbar-brand" style="margin-top:4px;margin-left:-10px" >
              <img src="asset/logo/Logo3.png" alt="" class="navbar-brand" style="margin-left:-10px">
              </a>
          </div>
          <div class="col-md-1 mb-3"> 
              <a href="#!">Contact</a>
          </div>
          <div class="col-md-1 mb-3"> 
              <a href="#!">Blog</a>
          </div>
          <div class="col-md-2 mb-3" style="margin-top:-10px"> 
             <div class="selection">
                <select class="form-control btn-rounded" aria-describedby="basic-addon3">
                    <option selected>Langue</option>
                    <option>Anglais</option>
                    <option>Français</option>
                    <option>Allemand</option>
                    <option>Russe</option>
                </select>    
            </div>
          </div>
          

        </div>
        
      

        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

 
        <div class="row pb-3">

  
          <div class="col-md-12">

            <div class="mb-5 flex-center">   
                <a class="media">
                  <i class="fa-lg white-text mr-md-5 mr-3 fa-2x rounded-circle"> <img src="asset/logo/logof.png" alt=""></i>
                </a>
                 <a class="media">
                  <i class="fa-lg white-text mr-md-5 mr-3 fa-2x rounded-circle"> <img src="asset/logo/logoi.png" alt=""></i>
                </a>
                 <a class="media">
                  <i class="fa-lg white-text mr-md-5 mr-3 fa-2x rounded-circle"> <img src="asset/logo/logot.png" alt=""></i>
                </a>
                 <a class="media">
                  <i class="fa-lg white-text mr-md-5 mr-3 fa-2x rounded-circle"> <img src="asset/logo/logoy.png" alt=""></i>
                </a>
            </div>

          </div>
    

        </div>

      </div>
      <div class="text-center">
          <figure >
              <audio controls autoplay src="asset/audio1.mp3">
                      Your browser does not support the
                      <code>audio</code> element.
              </audio>
          </figure>
       </div>
          <div class="footer-copyright text-center py-3">
            ©  {{myfooter.colab1}} x {{myfooter.colab2}} inc. {{myfooter.année}} {{myfooter.message}}
           
          </div>
    </footer>

