{% include "base.twig" %}

{% block stylesheets %}
<title>
    contact
</title>
{% endblock %}

{% block body %}
{% include "navebar.twig" %}
    
<h1>HEROS</h1>

{% include "footer.twig" %}
{% endblock %}


{% block javascripts %}

{% endblock %}
