<nav class="mb-1 navbar navbar-expand-lg navbar-dark backgroundcolor">
<div class="row" style="width:130px; margin-left:6%"> 
    <div class="col-sm-4 col-4">
        <img src="asset/logo/Logo1.png" alt="" class="navbar-brand"   >
    </div>
     <div class="col-sm-4 col-4" >
        <img src="asset/logo/Logo2.png" alt="" class="navbar-brand" style="margin-top:10px" >
    </div>
     <div class="col-sm-4 col-4">
          <img src="asset/logo/Logo3.png" alt="" class="navbar-brand" style="margin-left:-10px">
    </div>
</div>
 
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse menu" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {{loadpage1}}" id="accueil" style="margin-right:50px;">
        <a class="nav-link" href="?s=acc">
          <i class="fab"></i> Accueil</a>
      </li>
      <li class="nav-item {{loadpage2}}" id="adversaires" style="margin-right:50px;">
        <a class="nav-link" href="?s=adv">
          <i class="fab"></i> Adversaires</a>
      </li>
       <li class="nav-item {{loadpage3}}" id="heros" style="margin-right:50px;">
        <a class="nav-link" href="?s=Her">
          <i class="fab"></i> Héros</a>
      </li>
       <li class="nav-item {{loadpage4}}" id="apropos" style="margin-right:100px;">
        <a class="nav-link" href="?s=apro">
          <i class="fab"></i> À propos</a>
      </li>
     
    </ul>
  </div>
</nav>